@import "../../../node_modules/jack-hermanson-css-lib/src/main";
@import "theme";
@import "layout";
@import "stat_card";
@import "print";

a {
  text-decoration: none;
  color: white;
  &:not(.nav-link):not(.btn):not(.navbar-brand):hover {
    text-decoration: underline;
    color: white !important;
  }
}

a.underlined {
  text-decoration: underline;
  &:hover {
    text-shadow: 0 0 8px $light;
  }
}

body {
  overflow-x: hidden;
}

dl {
  margin-bottom: 0;
}

table.same-width tbody > tr th {
  width: 40%;
}
@include media-breakpoint-up(lg) {
  table.same-width tbody > tr th {
    width: 30%;
  }
}

label.required::after {
  color: darkred;
  font-weight: bold;
}

.card-footer {
  border-top: 1px solid #2d3239;
}

.card-header {
  border-bottom: 1px solid #2d3239;
}

.btn.icon-button {
  display: flex;
  justify-content: center;
}

.card-header {
  .ms-auto .icon-button {
    line-height: 1;
    padding: 5px;
  }
}

.actions {
  display: flex;
  .btn:not(:last-of-type) {
    margin-right: 0.5em;
  }
}
