@import "../../node_modules/jack-hermanson-css-lib/src/main";
@import "theme";
@import "layout";

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

.icon-button {
  line-height: 1;
  padding: 6px;
  display: flex;
}
