@import "../../../node_modules/jack-hermanson-css-lib/src/main";
@import "theme";
@import "layout";

a {
  text-decoration: none;
  color: white;
  &:not(.nav-link):hover {
    text-decoration: underline;
    color: white !important;
  }
}

body {
  overflow-x: hidden;
}

.icon-button {
  line-height: 1;
  padding: 6px;
  display: flex;
}

dl {
  margin-bottom: 0;
}

table.same-width tbody > tr th {
  width: 40%;
}
@include media-breakpoint-up(lg) {
  table.same-width tbody > tr th {
    width: 30%;
  }
}

